@font-face {
    font-family: myFont;
    src: url("font/DorovarFLF-Italic.woff");
}

.custom{
  cursor: url(http://www.clker.com/cliparts/b/a/b/0/1207156679935151925noxin_crosshairs.svg.hi.png), auto;
}

body{
  background-image: url("http://i.imgur.com/UZKEjzG.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#castle {
  position: absolute;
  top: 300px;
}

#lordAdrian{
  padding-top:2em;
  padding-left:4em;
}

#makerCredits{
  font-family: Comic Sans MS;
  padding-left:1em;
  text-align: center;
  position: absolute;
  top: 5em;
}

#titleText{
  font-family: courier new;
  position:absolute;
  text-align: right;
  right: 5px;
  top:2px;
}

#start{
    margin-left: 40%;
    margin-top: 10%;
}

#copyright{
  font-family: courier new;
  text-align: center;
  position: absolute;
  bottom: 0em;
}

#fighterJet{
  display: none;
}

#lackey1{
  display: none;
  margin-left: 400px;
  margin-top: 100px;
}

#lackey2{
  display: none;
  margin-left: 700px;
}

#lackey3{
  display: none;
  margin-left: 300px;
}

#lackey4{
  display: none;
  margin-left: 900px;
}

#lackey5{
  display: none;
  margin-left: 100px;
}

#herschel{
  display: none;
}

#scopeOverlay{
  display: none;
}

#dialogue1{
  display: none;
  font-family: myFont;
}

#dialogue2{
  display: none;
  font-family: myFont;
  position: absolute;
  left: 100px;
}

#okayButton1{
  display: none;
  position: absolute;
  right: 30px;
  top: 200px;
  background-color: white;
}
#okayButton2{
  display: none;
  position: absolute;
  right: 30px;
  top: 200px;
  background-color: white;
  }

#okayButton3{
  display: none;
  position: absolute;
  right: 30px;
  top: 200px;
  background-color: white;
  }

#lordAdrian2{
  display: none;
}
#lackeyBackground{
  background-image: url("http://s.pro-gmedia.com/videogamer/media/images/xbox360/cod_mw3/screens/cod_mw3_8.jpg");
  background-size: 100px;
  display: none;
}

#fighterJetBackground{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/54/London_Blitz_791940.jpg");
  background-size: 100px;
  display: none;
}

#wellDone{
  font-family: myFont;
  position: absolute;
  right: 30px;
  top: :200px;
  background-color: black;
  color: yellow;
  display: none;
}